body {
  margin: 0px;
}

/* ---------- Main ---------- */

main {
  box-sizing: border-box;
  min-height: 100vh;
  flex-direction: column;
  margin-left: 320px;
  margin-right: 180px;
  padding: 40px 52px 0;
  display: flex;
  margin-top: 40px;
}

@media (max-width: 1200px) {
  main {
    margin-top: 48px;
    margin-left: 0;
    margin-right: 0;
    padding: 40px 80px;
    text-align: center;
  }
}
.site--app {
  overflow: hidden;
}

.spectrum--darkest {
  background-color: rgb(27, 27, 27);
}

.spectrum--light {
  background-color: white;
}

.info {
  font-weight: bold;
}

strong {
  color: rgb(237, 78, 59) !important;
}

/* ---------- Nav ---------- */

.sidenav {
  width: 320px;
  background: var(--spectrum-global-color-gray-200);
  box-sizing: border-box;
  padding: 0 24px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  display: block;
}

/* .spectrum-SideNav h3 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.spectrum-SideNav h3::after {
  content: '\02C4';
  font-weight: bold;
  font-size: 25px;
} */

.spectrum-SideNav-item:hover {
  background-color: var(
    --spectrum-sidenav-item-background-color-hover,
    var(--spectrum-alias-highlight-hover)
  );
  color: var(
    --spectrum-sidenav-item-text-color-hover,
    var(--spectrum-alias-text-color-hover)
  );
}

@media (max-width: 1200px) {
  .sidenav {
    z-index: 100;
    visibility: hidden;
    outline: 0;
    transition: transform 0.2s, visibility 0s 0.2s;
    position: fixed;
    inset: 0 100% 0 auto;
  }
  .sidenav-visible {
    visibility: unset;
    transition-delay: 0s;
    transform: translate(100%);
  }
}

/* ---------- Alert Pages ---------- */

.doge {
  width: 100%;
  height: 80vh;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* ----------  ---------- */

.pageHeader {
  border-bottom: 1px solid var(--spectrum-global-color-gray-200);
  background: var(--page-background);
  z-index: 50;
  width: 100%;
  display: flex;
  padding: 1rem;
  background-color: rgb(29, 29, 29);
  position: fixed;
}

.spectrum--light .pageHeader {
  background-color: white;
}

.toggle {
  right: 40px;
}

@media (min-width: 1200px) {
  .pageHeader {
    margin-left: 320px;
  }
  .toggle {
    right: 360px;
  }
}

footer {
  border-top: 1px solid var(--spectrum-global-color-gray-200);
  background: var(--page-background);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}

footer span {
  padding: 10px;
}

footer span {
  padding: 10px;
}

/* ---------- basic overrides ---------- */

button:hover {
  cursor: pointer;
}

[class*='spectrum-Link'] {
  text-decoration: none !important;
}

[class*='spectrum-Link']:hover {
  text-decoration: underline !important;
}

code {
  background-color: rgb(230, 230, 230);
  padding-left: 10px;
  padding-right: 10px;
  color: rgb(124, 159, 60);
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.spectrum--darkest code {
  color: rgb(179, 224, 83);
  background-color: rgb(35, 36, 31);
}

h1 > code {
  color: inherit !important;
  background-color: inherit !important;
}

.code-block {
  background-color: rgb(230, 230, 230);
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.spectrum--darkest .code-block {
  background-color: rgb(35, 36, 31);
}

hr {
  width: 100%;
  border: none !important;
  height: 2px !important;
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
  margin-top: 2rem !important;
  margin-bottom: 2rem;
}

.spectrum--light hr {
  color: rgb(230, 230, 230); /* old IE */
  background-color: rgb(230, 230, 230); /* Modern Browsers */
}

.flex {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.side-by-side--right {
  flex: 1;
}

@media (max-width: 1200px) {
  .side-by-side--right {
    max-width: 100%;
  }
  .flex {
    justify-content: center;
  }
}

.info-box {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.info-box > div {
  width: 100%;
}

/* This is for Car!!! */

.cls-1 {
  fill: #fefefe;
}

.cls-1,
.cls-10,
.cls-11,
.cls-12,
.cls-13,
.cls-14,
.cls-15,
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7,
.cls-8,
.cls-9 {
  fill-rule: evenodd;
}

.cls-2 {
  fill: #cfd5cf;
}

.cls-11,
.cls-12,
.cls-3,
.cls-5 {
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.cls-3,
.cls-5 {
  stroke: #212121;
}

.cls-11,
.cls-3 {
  stroke-width: 3px;
}

.cls-4 {
  fill: #212121;
}

.cls-12,
.cls-5 {
  stroke-width: 2px;
}

.cls-6 {
  fill: #194767;
}

.cls-7 {
  fill: #1a3850;
}

.cls-8 {
  fill: #e53046;
}

.cls-9 {
  fill: #ae3b46;
}

.cls-10 {
  fill: #e96650;
}

.car-color-red .cls-8 {
  fill: #e53046;
}

.car-color-red .cls-9 {
  fill: #ae3b46;
}

.car-color-red .cls-10 {
  fill: #e96650;
}

.car-color-blue .cls-8 {
  fill: #4a2eee;
}

.car-color-blue .cls-9 {
  fill: #2540af;
}

.car-color-blue .cls-10 {
  fill: #6a72d5;
}

.car-color-green .cls-8 {
  fill: #0f4d1d;
}

.car-color-green .cls-9 {
  fill: #126014;
}

.car-color-green .cls-10 {
  fill: #0d5c18;
}

.car-color-pink .cls-8 {
  fill: rgb(233, 36, 111);
}

.car-color-pink .cls-9 {
  fill: rgb(145, 39, 80);
}

.car-color-pink .cls-10 {
  fill: rgb(155, 18, 70);
}

.cls-11,
.cls-12 {
  stroke: #231f20;
}

.cls-13,
.cls-16 {
  fill: #848c93;
}

.cls-14 {
  fill: #020303;
}

.cls-15 {
  fill: #74848c;
}

.cls-16 {
  font-size: 60px;
  font-family: HelveticaNeue-Bold, Helvetica Neue;
  font-weight: 700;
}

#Circleelement {
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotate;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  animation-name: rotate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table,
th,
td {
  border: 1px solid;
}

.button-group button {
  width: 100%;
}

.form-table input {
  max-width: 80px;
}

.form-table td {
  max-width: 80px;
  padding: 5px;
}
.form-table th {
  max-width: 80px;
  padding: 5px;
}

.form-table {
  text-align: center;
}
