/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+json+jsx&plugins=previewer-base */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #f8f8f2 !important;
	background: none !important;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3) !important;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important;
	text-align: left !important;
	white-space: pre !important;
	word-spacing: normal !important;
	word-break: normal !important;
	word-wrap: normal !important;
	line-height: 1.5 !important;
  border: none;

	-moz-tab-size: 4 !important;
	-o-tab-size: 4 !important;
	tab-size: 4 !important;

	-webkit-hyphens: none !important;
	-moz-hyphens: none !important;
	-ms-hyphens: none !important;
	hyphens: none !important;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1rem !important;
	margin: 0 0 !important;
	overflow: visible !important;
  overflow-x: scroll !important;
	border-radius: 0.3em !important;
}

code[class*="language-"] {
  margin: 0 !important;
  padding: 0 !important;
  overflow: visible !important;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #272822 !important;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em !important;
	border-radius: .3em !important;
	white-space: normal !important;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: slategray !important;
}

.token.punctuation {
	color: #f8f8f2 !important;
}

.namespace {
	opacity: .7 !important;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #f92672 !important;
}

.token.boolean,
.token.number {
	color: #ae81ff !important;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #a6e22e !important;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
	color: #f8f8f2 !important;
}

.token.atrule,
.token.attr-value,
.token.function {
	color: #e6db74 !important;
}

.token.keyword {
	color: #66d9ef !important;
}

.token.regex,
.token.important {
	color: #fd971f !important;
}

.token.important,
.token.bold {
	font-weight: bold !important;
}
.token.italic {
	font-style: italic !important;
}

.token.entity {
	cursor: help !important;
}

.prism-previewer,
.prism-previewer:before,
.prism-previewer:after {
	position: absolute !important;
	pointer-events: none !important;
}
.prism-previewer,
.prism-previewer:after {
	left: 50% !important;
}
.prism-previewer {
	margin-top: -48px !important;
	width: 32px !important;
	height: 32px !important;
	margin-left: -16px !important;

	opacity: 0 !important;
	-webkit-transition: opacity .25s !important;
	-o-transition: opacity .25s !important;
	transition: opacity .25s !important;
}
.prism-previewer.flipped {
	margin-top: 0 !important;
	margin-bottom: -48px !important;
}
.prism-previewer:before,
.prism-previewer:after {
	content: '' !important;
	position: absolute !important;
	pointer-events: none !important;
}
.prism-previewer:before {
	top: -5px !important;
	right: -5px !important;
	left: -5px !important;
	bottom: -5px !important;
	border-radius: 10px !important;
	border: 5px solid #fff !important;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75) !important;
}

.prism-previewer:after {
	top: 100% !important;
	width: 0 !important;
	height: 0 !important;
	margin: 5px 0 0 -7px !important;
	border: 7px solid transparent !important;
	border-color: rgba(255, 0, 0, 0) !important;
	border-top-color: #fff !important;
}
.prism-previewer.flipped:after {
	top: auto !important;
	bottom: 100% !important;
	margin-top: 0 !important;
	margin-bottom: 5px !important;
	border-top-color: rgba(255, 0, 0, 0) !important;
	border-bottom-color: #fff !important;
}
.prism-previewer.active {
	opacity: 1 !important;
}
