input {
  margin-bottom: 1rem;
  display: block;
}

textarea {
  margin-bottom: 1rem;
  display: block;
}

select {
  margin-bottom: 1rem;
  display: block;
}

label {
  text-align: left;
}

button {
  text-align: left;
  display: block;
}

hr {
    border: none !important;
    height: 1px !important;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}

pre {
  font-weight: bold;
  font-size:  1em !important;
}